a:hover {
    text-decoration: none;
}

.nav-link {
    font-family: MicrosoftJhengHei;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
}

.current-page {
    color: #fa6400 !important;
}

.card {
    border: unset !important;
    margin-bottom: 1rem;
}

.card-body {
    background-color: #f8f9fa !important;
    border: unset !important;
    border-radius: 0.25rem !important;
}

.go-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    display: none;
}
