.nav-link {
    font-family: MicrosoftJhengHei;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
}

.current-page {
    color: #fa6400 !important;
}

.card {
    border: unset !important;
    margin-bottom: 1rem;
}

.card-body {
    background-color: #f8f9fa !important;
    border: unset !important;
    border-radius: 0.25rem !important;;
}