@import "list_default.css";

.css-list,
.css-record {
    border: unset !important;
    background-color: #222222 !important;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.3), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.css-list-name,
.css-record-name {
    background-color: rgba(255, 255, 255, 0.5);
    color: #333333;
}
.css-list-title,
.css-record-title {
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-family: MicrosoftJhengHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
}

.css-list-btn-group,
.css-record-btn-group {
    padding: 0.5rem;
}

.css-record-btn,
.css-record-btn {
    float: right;
    margin-left: 6px;
}


/* record modal */
.modal-content {
    background-color:rgba(0, 0, 0);
    color:rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.6);
}

.modal-header .close, .modal-footer .btn {
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.3);
}
