.css-record {
    margin: 5px;
    box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.3);
}

.css-record-text {
    font-family: MicrosoftJhengHei;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
    margin: 5px;
}

.css-record-img-group {
    position: relative;
}

.css-record-duration {
    position: absolute;
    font-family: MicrosoftJhengHei;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: #ffffff;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.card-body {
    padding: 0.5rem;
}

.css-record-name {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: MicrosoftJhengHei;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
}
.css-record-title {
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-family: MicrosoftJhengHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
}

.css-record-btn-group {
    padding: 0.5rem;
}

.css-record-btn {
    float: right;
    margin-left: 10px;
}
