@import "setting_default.css";

.card {
    box-shadow: 0 2px 4px 0 rgb(51 51 51 / 30%), 0 2px 4px 0 rgb(0 0 0 / 50%);
    background-color: #777 !important;
}

.card-header {
    background-color: #222222 !important;
    color: white;
}